header {
  background-color: var(--colour-primary);
  height: 100px;
  display: flex;
  align-items: center;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width-header);
  padding: 0 1rem;
  width: 100%;
}

header .logo img {
  max-width: 150px;
  height: auto;
}

header .birds {
  display: none;
}

@media (min-width: 880px) {
  header .birds {
    display: block;
  }
}

header .birds img {
  width: 200px;
  height: auto;
}
