* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  max-width: var(--max-width-content);
  margin: 0 auto;
  padding: 0 2rem;
}

footer {
  background-color: var(--colour-primary);
  color: var(--colour-text);
  padding: 2rem;
  text-align: center;
  align-items: center;
  position: relative;
  font-size: medium;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 480px) {
  footer {
    flex-direction: row;
  }
}

footer div {
  display: flex;
}

footer .menu {
  flex-direction: column;
  align-items: center;
  order: 1;
}

@media (min-width: 480px) {
  footer .menu {
    order: 2;
  }
}

footer .payments {
  order: 2;
}

@media (min-width: 480px) {
  footer .payments {
    order: 1;
  }
}

footer .social {
  order: 3;
}

footer nav {
  border-bottom: 1px solid white;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

footer .copy {
  max-width: var(--max-width-header);
  margin: auto 0;
}

.container {
  max-width: var(--max-width-header);
  margin: 0 auto;
}
