.hero-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 6rem;
  border-bottom: 2px black solid;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content h1 {
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .hero-section {
    grid-template-columns: 1fr;
  }

  .hero-image {
    order: -1; /* Places image above content on mobile */
  }
}

.tow {
  display: grid;
  align-items: center;
  justify-content: space-between;
}

.tow-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15rem;
  border-bottom: 6px black solid;
}

.tow-content {
  display: flex;
  flex-direction: flex-start;
  justify-content: center;
}

.tow-section h2 {
  margin-bottom: 1rem;
}

.tow-content p {
  font-size: 3rem;
  margin-bottom: 5rem;
}

.product-section {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 2rem;
}

.product-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-content h1 {
  margin-bottom: 1rem;
}

.product-content p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .product-section {
    grid-template-columns: 1fr;
  }

  .product-image {
    order: -1; /* Places image above content on mobile */
  }
}
